.card{
    width: auto;
}
.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
}
.card-lines{
    color: gray;
}
.card-li{
    padding-left: 70px;
    color: black;
}
.card-dynamic{
    color: black;
    padding-left: 39px;
}

/* ==================List font=========================== */

.fw-bold{
    font-size: 17px;
}

/* =====================Table============================ */
.t-head{
    color: gray;
    font-size: 17px;
}
.t-row{
    font-size: 16px;
}