body {
  margin: 0;
  background-color: #e3e9ee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  display: block;
  /* background-color: #f5f3f5;
  height: 100vh;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==========================================================================================
============================= Header ===================================================== */

.head{
  box-shadow: 0 5px 4px -6px rgb(92, 90, 90);
  background-color: #ffffff61;
}

.sub-head{
  width:37rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: gray;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link a:hover {
  color:#346efd;
}
